.ProseMirror {
  @apply caret-black dark:caret-white outline-0;
}
#editor-preview .ProseMirror {
  @apply min-h-[auto];
}

#ai-page-editor .ProseMirror {
  @apply px-8;
}

/* .ProseMirror > * {
  @apply mx-auto max-w-2xl;
} */

.ProseMirror .selection,
.ProseMirror *::selection {
  @apply bg-black/10 dark:bg-white/20;
}

.ProseMirror .selection {
  @apply inline;
}

.ProseMirror > .react-renderer {
  @apply my-12 first:mt-0 last:mb-0;
}

.ProseMirror.resize-cursor {
  @apply cursor-col-resize;
}

.ProseMirror .ProseMirror-gapcursor {
  @apply relative w-full max-w-2xl mx-auto;
}

.ProseMirror .ProseMirror-gapcursor:after {
  @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
}

.tiptap-uppy-upload input,
*[contenteditable],
*[contenteditable] * {
  -webkit-user-select: none !important;
}

.tiptap-uppy-upload .uppy-Dashboard-AddFiles {
  border: none !important;
  margin: 0 !important;
  background: white;
}
.tiptap-uppy-upload .uppy-Dashboard-AddFiles-title {
  font-size: 1rem;
  font-family: 'Outfit Variable';
}
