@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* Uppy Custom Style */
.uppy-Dashboard-inner,
.uppy-Dashboard-innerWrapper {
  border-width: 0px !important;
  border-radius: 0 !important;
}

/* Tiptap Editor */

.ProseMirror {
  @apply p-2;
}

.ProseMirror:hover {
  @apply bg-primary/5;
}

.ProseMirror-focused {
  @apply outline-none;
}

.ProseMirror h1 {
  @apply text-4xl font-bold;
}

.ProseMirror h2 {
  @apply text-3xl font-bold;
}

.ProseMirror h3 {
  @apply text-2xl font-bold;
}

.tiptap ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

/* Block Content Styles */
.block-content-header,
.block-content-paragraph {
  @apply p-4;
}
.block-content-header h1 {
  @apply text-4xl font-bold;
}

.block-content-header h2 {
  @apply text-3xl font-bold;
}

.block-content-header h3 {
  @apply text-2xl font-bold;
}

/* PDF */
.react-pdf__Page__canvas {
  @apply mx-auto !w-full !h-auto;
}

.flying-emojis {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  z-index: 99;
}

.flying-emojis .emoji {
  position: absolute;
  bottom: 0px;
  left: 50%;
  font-size: 48px;
  line-height: 1;
  width: 48px;
  height: 48px;
}

.flying-emojis .emoji.wiggle-1 {
  animation: emerge 3s forwards, wiggle-1 1s ease-in-out infinite alternate;
}

.flying-emojis .emoji.wiggle-2 {
  animation: emerge 6s forwards, wiggle-2 3s ease-in-out infinite alternate;
}

@keyframes emerge {
  to {
    bottom: 85%;
  }
}

@keyframes wiggle-1 {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 50px;
  }
}

@keyframes wiggle-2 {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: -50px;
  }
}
